@import "tailwindcss";

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f2efe6;
}

::-webkit-scrollbar-thumb {
  background: #000;
  border: 2px solid #f2efe6;
}

::-webkit-scrollbar-thumb:hover {
  background: #333;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #000 #f2efe6;
}
